<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader books page</title>
</head>
<body>
<a href="http://localhost:8080/ui/readers">Readers</a>
<a href="http://localhost:8080/ui/books">Books</a>
<a href="http://localhost:8080/ui/issues">Issue</a>
<h1>List of books reader</h1><br>
<h5>Name: <span th:text="${reader.getName()}"></span><br> ID: <span th:text="${reader.getId()}"></span></h5>
<p>Книги выданные читателю:</p>
<ul>
    <li th:each="book : ${books}" th:text="${book.getTitle()}"></li>
</ul>
</body>
</html>