<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readers&Books</title>
</head>
<body>
<a href="http://localhost:8080/ui/readers">Readers</a>
<a href="http://localhost:8080/ui/books">Books</a>
<h1>Table Readers & Books</h1>
<table>
    <tr>
        <th>Book</th>
        <th>Reader</th>
        <th>Issued</th>
        <th>Returned</th>
    </tr>
    <tr th:each="row: ${rows}">
        <td th:text="${row.bookName()}"></td>
        <td th:text="${row.readerName()}"></td>
        <td th:text="${row.get()}"></td>
        <td th:text="${row.set()}"></td>
    </tr>
</table>
</body>
</html>